* {
    list-style-type: none;
}

.container {
    width: 70%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}

.menu_container {
    background-color: #ea9a08;
    display: flex;
    justify-content: space-between;

    padding: 15px 10px;
}

.logo {
    color: white;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu_list-item {
    color: #c5c2c2;
    font-weight: bold;
    font-size: 0.8rem;
}

.anchor {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}

.types_container {
    flex-direction: column;
    cursor: pointer;
}

.type {
    height: 34px;
    border-radius: 8px;
    padding: 15px 10px;

    display: flex;
    align-items: center;
    
    background-color: #304E74;
    color: #c5c2c2;
}

.card_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.card_image {
    width: 250px;
}